.profileContainer {
    width: 500px;
    position: absolute;
    top: 30%;
    left: 50%;
    border-radius: 20px;

    transform: translateX(-50%);
    background-color: #a4a8b0;
    color: #f0f4fc;
    font-size: 18px;
}