.usersContainer {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.userBlock {
    font-family: Roboto;
    margin: 10px !important;
    padding: 20px;

    background-color: #eef1eb;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.userBlock-link {
    color: black;
    text-decoration: none;
}

.userBlock:hover {
    background-color: #dde0da;
}

.userBlock p {
    font-size: 18px;
    color: #9599a1;
}

.fullName {
    font-size: 24px;
}

.infoRow {
    font-size: 18px;
    text-align: left;

    margin: 7px 0px;
}

.infoRowTitle {
    width: auto;
    font-weight: bold;
}