.postsContainer {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.postBlock {
    width: 450px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 15px 30px 45px 30px;
    color: black;
    background-color: #eef1eb;
    border-radius: 15px;
    font-family: Roboto;
    box-sizing: border-box;
}

.postBlock .number {
    font-size: 24px;
    font-weight: bold;
}

.postBlock .text {
    margin-top: 20px;
    font-size: 20px;
}

.postBlock .infoRow p {
    margin: 10px;
}

.postBlock .infoRow {
    position: relative;
}

.postBlock .infoRow .creationDate {
    position: absolute;
    left: 0px;
}

.postBlock .infoRow .creationTime {
    position: absolute;
    right: 0px;
}