.addArticleContainer {
    width: 500px;
    position: absolute;
    top: 30%;
    left: 50%;
    border-radius: 20px;
    padding: 10px;

    transform: translateX(-50%);
    background-color: #a4a8b0;
    color: #f0f4fc;
    font-size: 18px;
}

.addArticleContainer textarea {
    background-color: #9599a1;
    border-radius: 4px;
    resize: none;
}

.addArticleContainer button {
    width: 150px;
    height: 30px;
    background-color: #9599a1;
    border-radius: 4px;
    color: #f0f4fc;
    font-size: 17px;
    margin-top: 10px;
}